# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables / secrets
.env

# Package metadata
*.egg-info/

# Logs
logs/
*.log

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

data/